<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://contactmanager.documents.azure.com:443/" />
    <add key="PrimaryKey" value="Ii4e1F22OyR5574KQBiWqRPmULYBQq7Dv92x5l5MIDi1JW6IwddABQydh4xskBpgUpSejInCW1PmhYpikNBr9w==" />
  </appSettings>
</configuration>